<div class="container" *ngIf="person">

        <div class="row my-3">
          <div class="col-md-6">
              <h5>{{ person.full_name_ru  }}</h5>
          </div>
          <div class="col-md-6">
            <div class="btn-group float-right">

                <button type="button" class="btn btn-outline-info btn-sm" (click)="toList()">Вернуться в список</button>

                <button type="button" class="btn btn-outline-warning btn-sm" (click)="doEdit()">Редактировать</button>

            </div>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-md-6">
              <ul class="list-group">

                  <li class="list-group-item">
                    <strong>Должность:</strong>
                    {{ person.roleperson.name_ru  }}
                  </li>

                  <li class="list-group-item">
                      <strong>Дата рождения:</strong>
                      {{ person.birth  }}
                  </li>

                  <li class="list-group-item">
                      <strong>ИНН:</strong>
                      {{ person.inn  }}
                  </li>
              </ul>

              <h5>Компании</h5>
              <ul class="list-group">
                  <li class="list-group-item" *ngFor="let comp of companies">
                    {{ comp.name_ru  }}
                    <div class="float-right">

                    </div>
                  </li>
              </ul>

          </div>
          <div class="col-md-6">
            <h5>Однофамильцы</h5>
            <ul class="list-group">
              <li *ngFor="let n of namesakes" class="list-group-item">{{ n.full_name_ru  }}</li>

            </ul>
          </div>
        </div>

</div>
