<div class="container">
  <form  (ngSubmit)="onSubmit()"  #personForm="ngForm">

        <div class="row my-3">
          <div class="col-md-6">
              <h3>{{ person.full_name  }}</h3>
          </div>
          <div class="col-md-6">
            <div class="btn-group float-right">

                <button type="button" class="btn btn-outline-info btn-sm" (click)="toList()">Вернуться в список</button>
                <button type="submit" [disabled]="!personForm.form.valid" class="btn btn-success btn-sm">Сохранить</button>
                <button type="button" (click)="clear()" class="btn btn-outline-warning btn-sm">Очистить</button>
            </div>
          </div>
        </div>

        <div class="form-group row">

          <div class="col-sm-9">
              <ngb-tabset>

                  <ngb-tab title="Русский">
                    <ng-template ngbTabContent>
                        <label class="col-form-label">Фамилия</label>
                        <input [(ngModel)]="person.surname_ru" name="surname_ru" type="text" class="form-control form-control-sm" required  #surname_ru="ngModel">

                        <label class="col-form-label">Имя</label>
                        <input [(ngModel)]="person.first_name_ru" name="first_name_ru" type="text" class="form-control form-control-sm" required>
                        <label class="col-form-label">Отчество</label>
                        <input [(ngModel)]="person.last_name_ru" name="last_name_ru" type="text" class="form-control form-control-sm" required>
                    </ng-template>
                  </ngb-tab>

                  <ngb-tab title="Казахский">
                      <ng-template ngbTabContent>
                          <label class="col-form-label">Фамилия</label>
                          <input [(ngModel)]="person.surname_kz" name="surename_kz" type="text" class="form-control form-control-sm" required>
                          <label class="col-form-label">Имя</label>
                          <input [(ngModel)]="person.first_name_kz" name="first_name_kz" type="text" class="form-control form-control-sm" required>
                          <label class="col-form-label">Отчество</label>
                          <input [(ngModel)]="person.last_name_kz" name="last_name_kz" type="text" class="form-control form-control-sm" required>
                      </ng-template>
                  </ngb-tab>

                  <ngb-tab title="Транслит">
                      <ng-template ngbTabContent>
                          <label class="col-form-label">Фамилия</label>
                          <input [(ngModel)]="person.surname_lat" name="surename_lat" type="text" class="form-control form-control-sm" required>
                          <label class="col-form-label">Имя</label>
                          <input [(ngModel)]="person.first_name_lat" name="first_name_lat" type="text" class="form-control form-control-sm" required>
                          <label class="col-form-label">Отчество</label>
                          <input [(ngModel)]="person.last_name_lat" name="last_name_lat" type="text" class="form-control form-control-sm" required>
                      </ng-template>
                  </ngb-tab>

                </ngb-tabset>

          </div>
          <div class="col-sm-3">
              <h4>Родственники</h4>
          </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <label class="col-form-label">Должность</label>

                <select  [(ngModel)]="person.roleperson_id"  class="form-control form-control-sm" name="role" required>
                    <option *ngFor="let role of roles" [value]="role.id">{{role.name_ru}}</option>
                  </select>

            </div>

            <div class="col-sm-3">
              <label class="col-form-label">Дата рождения</label>

              <input [(ngModel)]="person.birth" name="birth" type="date" class="form-control form-control-sm">

            </div>

            <div class="col-sm-3">
              <label class="col-form-label">ИНН</label>

              <input [(ngModel)]="person.inn" name="inn" type="text" class="form-control form-control-sm">

            </div>

            <div class="col-sm-3">
              <label class="col-form-label">РНН</label>

              <input [(ngModel)]="person.rnn" name="rnn" type="text" class="form-control form-control-sm">

            </div>

        </div>

  </form>

</div>


