<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="pagination">



      <li class="page-item mx-1" >
        <button [className]="menu.document.is_active ? 'btn btn-outline-success':'btn btn-success btn-sm'" class="btn" routerLink="/documents">Документы</button>
      </li>
      <li class="page-item mx-1" >
        <button [className]="menu.person.is_active ? 'btn btn-outline-success':'btn btn-success btn-sm'" class="btn btn-success btn-sm" routerLink="/persons">Физ. лица</button>
      </li>
      <li class="page-item mx-1" >
        <button  [className]="menu.company.is_active ? 'btn btn-outline-success':'btn btn-success btn-sm'" class="btn btn-success btn-sm" routerLink="/company">Компании</button>
      </li>

      <li class="nav-item" *ngIf="is_auth==='false'">
        <a class="btn btn-success btn-sm mx-2" routerLink="/login">Login </a>
      </li>
      <li class="nav-item" *ngIf="is_auth==='true'">
          <a class="btn btn-danger btn-sm" (click)="logout()">Logout </a>
      </li>
      <li class="nav-item" *ngIf="is_auth==='false'">
        <a class="btn btn-success btn-sm" routerLink="/registration">Registration</a>
      </li>

      <!--
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      -->
    </ul>
    <!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    -->
  </div>
</nav>
