


  <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link"
          *ngIf="prev"
          (click)="getPage(offset-30)">
            Назад
          </a>
        </li>

        <li class="page-item">
          <a class="page-link"
            *ngIf="next"
            (click)="getPage(offset+30)">
            Вперед
          </a>
        </li>

      </ul>
    </nav>



  <table class="table table-striped table-sm table-bordered  table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Дата</th>
        <th scope="col">Номер</th>
        <th scope="col">Описание</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <th>{{ item.id  }}</th>
        <td>{{ item.date  }}</td>
        <td>{{ item.uid  }}</td>
        <td>{{ item.title  }}</td>
      </tr>
    </tbody>
  </table>

